@model IEnumerable<EscarGoLibrary.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Nouvelle course", "Create",null, new { role = "button", @class = "btn btn-success" })
    
</p>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Nom
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            <span class="badge"> @Html.DisplayFor(modelItem => item.Likes)</span>
        </td>
        <td>

            @Html.ActionLink("Détails", "Details", new { id = item.CourseId }, new { role = "button", @class = "btn btn-primary" }) 
            @Html.ActionLink("J'aime!", "Like", new { id = item.CourseId }, new { role = "button", @class = "btn btn-primary" })

            @if(item.NbTickets>0)
            {
                @Html.ActionLink(" Achetez vos billets!", "Buy", "Tickets", new { courseid = item.CourseId }, new {role="button", @class="btn btn-danger" });
            }

        </td>
    </tr>
}

</table>

@Html.Partial("_Paginate")