@model  EscarGoLibrary.Models.BuyTicketViewModel

<h2>Acheter un ticket</h2>
<hr />


@using (Html.BeginForm("Buy","Ticket"))
{
    @Html.AntiForgeryToken()
    <h4>@Model.Course.Label</h4>
        <hr />
    <div class="form-horizontal">
        @Html.HiddenFor(n=>n.Course.IdCourse)
        <div class="form-group">
            <div class="control-label col-md-2">Date</div>
            
            <div class="col-md-10">
                @Model.Course.Date.ToShortDateString();
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">Nombre de places restantes</div>
            
            <div class="col-md-10">
                @Model.Course.NbTickets
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Vous êtes qui?</div>
           
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Acheteurs, Model.Acheteurs, new { @class = "form-control" });
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Nombre de places achetées</div>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.NbPlaces, new { htmlAttributes = new {@type="number", @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index","Courses",null, new { role = "button", @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
