@model IEnumerable<EscarGo.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Nouvelle course", "Create")
    
</p>

<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>

            @Html.ActionLink("Détails", "Details", new { id = item.IdCourse }) |
            @Html.ActionLink("J'aime!", "Like", new { id = item.IdCourse })

            @if(item.NbTickets>0)
            {
                @Html.ActionLink("| Achetez vos billets!", "Buy", "Ticket", new { idCourse = item.IdCourse }, null);
            }

        </td>
    </tr>
}

</table>
