@model EscarGo.Models.Concurrent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Concurrent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Victoires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Victoires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defaites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defaites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entraineur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entraineur)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
