@model EscarGoLibrary.Models.DetailConcurrentViewModel

@{
    ViewBag.Title = "Détails";
}

<h2>Details</h2>

<div>
    <h4>Concurrent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Concurrent.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concurrent.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concurrent.Victoires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concurrent.Victoires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concurrent.Defaites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concurrent.Defaites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concurrent.Entraineur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concurrent.Entraineur)
        </dd>

    </dl>
</div>
<p>

    <h2>Courses du concurrent valeureux</h2>
    <table class="table">
        <tr>
            <th>
                Course
            </th>
   
            <th>
                Date
            </th>
            <th>
               Cote
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
         
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SC)/1
                </td>
                <td>

                    @Html.ActionLink("Parier", "Bet", new { idCourse = item.IdCourse, idConcurrent=Model.Concurrent.IdConcurrent })
                </td>
            </tr>
        }

    </table>

    @Html.ActionLink("Retour", "Index")
</p>
